# METHODS a list example

In [11]:
#Methods are built-in functions. 
# These built-in functions "methods are associated with objects and allow you to ... 
# ... perform actions on an onject

#Some methods that can be used for lists
# 1. .append
# 2. .count
# 3. .extend
# 4. .insert
# 5. .pop
# 6. .remove
# 7. reverse
# 8. sort

#basic example
myList=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#myList.  # Explain how to use TAB
#myList.   #explain how to use SHIFT + TAB

myList.append(11)
myList.append(11)
print(myList)
print("=====================")
print(myList.count(11))
print("=====================")
myList.insert(2,5)
print(myList)
print("=====================")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]
=====================
2
=====================
[1, 2, 5, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]
=====================

# More about Range

In [18]:
#simple range example
l1=range(0,5)
print("===========")
print(l1)
print(type(l1))
print("===========")
l1 = list(l1)
print(l1)
print(type(l1))
print("===========")

===========
range(0, 5)
<class 'range'>
===========
[0, 1, 2, 3, 4]
<class 'list'>
===========

In [20]:
# range(a, b, c) where
# a = initial value OR FROM
# b = final value   OR TO
# c = step OR increment
l2 = list(range(2, 10, 2))
print(l2)

[2, 4, 6, 8]

# Lists Comprehensions

In [22]:
#IDEA: 
# To give you the ability of building lists while using a completely different notation.
# Think about it as a loop that is contained in squared brackets

# Basic Example: With letters
l3 = [letter for letter in 'Hello']
print(l3)

['H', 'e', 'l', 'l', 'o']

In [26]:
#Basic Example: With numbers
l4 = [num for num in range(1,10,2)]
print(l4)

[1, 3, 5, 7, 9]

In [29]:
#Basic Example: With numbers but more complex
l5 = [num**2 for num in range(1,10,2)]
print(l5)

[1, 9, 25, 49, 81]

In [32]:
#Basic Example: With numbers but even more complex
l6 = [num for num in range(1,10,1) if (num%3 == 0)]
print(l6)

[3, 6, 9]

In [34]:
#Basic Example: With numbers but even a little bit more complex
l7 = [num**2 for num in range(1,10,1) if (num%3 == 0)]
print(l7)

[9, 36, 81]

In [36]:
#Some other nice examples
l8 = [2, 4, 6, 8]
divide_by_Two = [(val/2.0) for val in l8]
print(divide_by_Two)

[1.0, 2.0, 3.0, 4.0]

In [38]:
# You can even go deeper and have nested list comprehensions
sourceList = [1, 81, 625, 2401]
l9 = [val**0.5 for val in [val**0.5 for val in sourceList ]]
print(l9)

[1.0, 3.0, 5.0, 7.0]