In [1]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [3]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([100,200,300])
d = {'a':11,'b':22,'c':33}

** Using Lists**

In [5]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

## The next one is very - very similar to NumPy Arrays

In [11]:
pd.Series(arr)

0    100
1    200
2    300
dtype: int32

In [13]:
pd.Series(arr,labels)

a    100
b    200
c    300
dtype: int32

** Dictionary**

In [15]:
pd.Series(d)

a    11
b    22
c    33
dtype: int64

### Data in a Series

A pandas Series can hold a variety of object types:

In [17]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [19]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [21]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Colombia','Mexico', 'Germany'])

In [23]:
ser1

USA         1
Colombia    2
Mexico      3
Germany     4
dtype: int64

In [25]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [27]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [29]:
ser1['USA']

1

Operations are then also done based off of index:

In [31]:
ser1 + ser2

Colombia    NaN
Germany     6.0
Italy       NaN
Japan       NaN
Mexico      NaN
USA         2.0
dtype: float64