## Team 1 H2
## Homework 2 
## Pat Mitchell,  Jon Scales

In [43]:
import pandas as pd
import numpy as np
import time

## Step by Step Solution

In [2]:
price = pd.read_pickle("yahoo_price.pkl")
print(price)

                  AAPL        GOOG         IBM       MSFT
Date
2010-01-04   27.990226  313.062468  113.304536  25.884104
2010-01-05   28.038618  311.683844  111.935822  25.892466
2010-01-06   27.592626  303.826685  111.208683  25.733566
2010-01-07   27.541619  296.753749  110.823732  25.465944
2010-01-08   27.724725  300.709808  111.935822  25.641571
...                ...         ...         ...        ...
2016-10-17  117.550003  779.960022  154.770004  57.220001
2016-10-18  117.470001  795.260010  150.720001  57.660000
2016-10-19  117.120003  801.500000  151.259995  57.529999
2016-10-20  117.059998  796.969971  151.520004  57.250000
2016-10-21  116.599998  799.369995  149.630005  59.660000

[1714 rows x 4 columns]

In [3]:
df = pd.DataFrame(price)
print(df)

                  AAPL        GOOG         IBM       MSFT
Date
2010-01-04   27.990226  313.062468  113.304536  25.884104
2010-01-05   28.038618  311.683844  111.935822  25.892466
2010-01-06   27.592626  303.826685  111.208683  25.733566
2010-01-07   27.541619  296.753749  110.823732  25.465944
2010-01-08   27.724725  300.709808  111.935822  25.641571
...                ...         ...         ...        ...
2016-10-17  117.550003  779.960022  154.770004  57.220001
2016-10-18  117.470001  795.260010  150.720001  57.660000
2016-10-19  117.120003  801.500000  151.259995  57.529999
2016-10-20  117.059998  796.969971  151.520004  57.250000
2016-10-21  116.599998  799.369995  149.630005  59.660000

[1714 rows x 4 columns]

In [ ]:
df.head()

In [6]:
pc = df.pct_change()
newpc=pc.fillna(0)
print(newpc)

                AAPL      GOOG       IBM      MSFT
Date
2010-01-04  0.000000  0.000000  0.000000  0.000000
2010-01-05  0.001729 -0.004404 -0.012080  0.000323
2010-01-06 -0.015906 -0.025209 -0.006496 -0.006137
2010-01-07 -0.001849 -0.023280 -0.003462 -0.010400
2010-01-08  0.006648  0.013331  0.010035  0.006897
...              ...       ...       ...       ...
2016-10-17 -0.000680  0.001837  0.002072 -0.003483
2016-10-18 -0.000681  0.019616 -0.026168  0.007690
2016-10-19 -0.002979  0.007846  0.003583 -0.002255
2016-10-20 -0.000512 -0.005652  0.001719 -0.004867
2016-10-21 -0.003930  0.003011 -0.012474  0.042096

[1714 rows x 4 columns]

In [17]:
ibm = newpc["IBM"]
msft = newpc["MSFT"]
print(ibm)
print(msft)

Date
2010-01-04    0.000000
2010-01-05   -0.012080
2010-01-06   -0.006496
2010-01-07   -0.003462
2010-01-08    0.010035
                ...
2016-10-17    0.002072
2016-10-18   -0.026168
2016-10-19    0.003583
2016-10-20    0.001719
2016-10-21   -0.012474
Name: IBM, Length: 1714, dtype: float64
Date
2010-01-04    0.000000
2010-01-05    0.000323
2010-01-06   -0.006137
2010-01-07   -0.010400
2010-01-08    0.006897
                ...
2016-10-17   -0.003483
2016-10-18    0.007690
2016-10-19   -0.002255
2016-10-20   -0.004867
2016-10-21    0.042096
Name: MSFT, Length: 1714, dtype: float64

In [9]:
print(len(ibm))

1714

In [44]:
IBM_sum=0
for x in ibm:
    IBM_sum +=x
IBM_mean = IBM_sum/len(ibm)
#print("IBM sum = ",IBM_sum)

print("IBM mean = ",IBM_mean)

MSFT_sum=0
for x in msft:
    MSFT_sum += x
MSFT_mean = MSFT_sum/len(msft)
#print("MSFT sum = ",MSFT_sum)

print("MSFT mean = ",MSFT_mean)

t1 = 0
for x in ibm:
    t1 += (x - IBM_mean)**2
IBM_var =t1/len(ibm)
print("IBM variance =",IBM_var)

t2 = 0
for x in msft:
    t2 += (x - MSFT_mean)**2
MSFT_var =t1/len(msft)
print("NSFT variance =",MSFT_var)

IBM_std= IBM_var**.5
print("IDM std dev =",IBM_std)

MSFT_std= MSFT_var**.5
print("MSFT std dev =",MSFT_std)

start_time = time.time()
covar =0
prod=0
start_time = time.time()
for i in range(len(ibm)):
    prod += ((ibm.iloc[i] -IBM_mean) * (msft.iloc[i] - MSFT_mean))
covar = prod/len(ibm)
#print(prod)
end = time.time()
elapsed_time = end - start_time
print("The covariance between IBM & MSFT is ",covar)

print("The time of execution for the numpy version is :",
      (elapsed_time) * 10**3, "ms")

IBM mean =  0.00023578340374124098
MSFT mean =  0.0005947098583016726
IBM variance = 0.0001462851874135756
NSFT variance = 0.0001462851874135756
IDM std dev = 0.012094841355452978
MSFT std dev = 0.012094841355452978
The covariance between IBM & MSFT is  8.860312842304405e-05
The time of execution for the numpy version is : 16.366958618164062 ms

## using built in functions

In [45]:
start_time = time.time()
print(f" Covariance  (IBM, MFST)(with 0 dof) --> {pc['IBM'].cov(pc['MSFT'], ddof=0)}")
end = time.time()
elapsed_time = end - start_time
print("The time of execution for the pandas version is :",
      (elapsed_time) * 10**3, "ms")

 Covariance  (IBM, MFST)(with 0 dof) --> 8.865477046849079e-05
The time of execution for the numpy version is : 0.0 ms

In [42]:
print(f" Covariance  (IBM, MFST)(with 1 dof) --> {pc['IBM'].cov(pc['MSFT'], ddof=1)}")

 Covariance  (IBM, MFST)(with 1 dof) --> 8.870655479703546e-05